@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body,
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding-top: 15px;
}

header h1 {
  font-size: 3em;
}

/* svg {
  background-color:lightblue;
} */

#tooltip {
  position: absolute;
  background-color: #E6E4A6;
  padding: 20px;
  font-weight: 600;
  border-radius: 8px;
  opacity: 0;
  font-size: 1.2em;
}